@import 'var';
@import 'header';
@import 'buttons';
@import 'basics';
@import 'animation';
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    &.darkmode {
        background-color: #282828;
        color: white;
    }
}

.display-dir-box {
    display: flex;
    align-items: center;
    vertical-align: middle;
    height: 2.5rem;
    padding: 0rem 1.2rem;
    color: $black;
    .fa-arrow-circle-right {
        padding-right: 1rem;
    }
    &:nth-of-type(odd) {
        background-color: $pastel-blur;
    }
    &:hover {
        color: $greenish;
        cursor: pointer;
    }
    .input-field {
        padding: 5px;
        background-color: $pastel-secondary;
        border: 2px $white solid;
    }
    &.darkmode {
        color: $darkmode_pastel-secondary;
        font-weight: 600;
        &:nth-of-type(odd) {
            background-color: $darkmode_pastel-blur;
        }
        &:hover {
            color: $darkmode_pastel;
        }
        .input-group {
            .input-field {
                background-color: $darkmode_pastel-secondary;
            }
        }
        .btn {
            .fa-plus-circle {
                color: $darkmode_pastel-secondary;
                &:hover {
                    color: $darkmode_pastel;
                }
            }
            .fa-minus-circle {
                color: $darkmode_pastel;
                &:hover {
                    color: $darkmode_pastel-secondary;
                }
            }
            &-submit {
                color: $darkmode_pastel;
            }
        }
    }
}

#adding-box {
    cursor: unset;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-icon {
    position: absolute;
    margin-left: 90%;
}

.hide {
    display: none;
}

.info-list {
    height: auto;
    width: 400px;
    float: right;
    z-index: 3;
    ul li {
        padding: 8px 0;
        .list-icon {
            margin: 0 20px 0 5px;
            font-size: 20px;
        }
        &:nth-child(odd) {
            background-color: $greenish;
        }
    }
}

.cut-off {
    height: 2rem;
    width: 100%;
    background-color: $greenish;
    &.darkmode {
        background-color: $darkmode_greenish;
    }
}